Should introspect return 200 on error?

https://github.com/zitadel/oidc/blob/de33faa2d89f79e30e19c265d549a0bac4cdb7b9/pkg/op/token_intospection.go#L42-L46

In this snippet, introspection always returns a status code of 200, aka "OK", even if the storage returns an error. The response body is set to `{"active":false}` with no additional info.

Is this a feature or a bug?

@livio-a Do you know if this is intended or if it is a bug?

Sorry missed this.... but yes the behaviour is intentional according to [RFC 7663 - 2.3](https://datatracker.ietf.org/doc/html/rfc7662#section-2.3):
> If the protected resource uses OAuth 2.0 client credentials to
   authenticate to the introspection endpoint and its credentials are
   invalid, the authorization server responds with an HTTP 401
   (Unauthorized) as described in [Section 5.2](https://datatracker.ietf.org/doc/html/rfc7662#section-5.2) of OAuth 2.0 [[RFC6749](https://datatracker.ietf.org/doc/html/rfc6749)].
> 
>  If the protected resource uses an OAuth 2.0 bearer token to authorize
   its call to the introspection endpoint and the token used for
   authorization does not contain sufficient privileges or is otherwise
   invalid for this request, the authorization server responds with an
   HTTP 401 code as described in [Section 3](https://datatracker.ietf.org/doc/html/rfc7662#section-3) of OAuth 2.0 Bearer Token
   Usage [[RFC6750](https://datatracker.ietf.org/doc/html/rfc6750)].
>
> Note that a properly formed and authorized query for an inactive or
   otherwise invalid token (or a token the protected resource is not
   allowed to know about) is not considered an error response by this
   specification.  In these cases, the authorization server MUST instead
   respond with an introspection response with the "active" field set to
   "false" as described in [Section 2.2](https://datatracker.ietf.org/doc/html/rfc7662#section-2.2).

the client will always be authenticated when we call the `SetIntrospectionFromToken` method

Thanks for the clarification!